.fw-extrabold {
  font-weight: 800;
}

.btn-white {
  background-color: #FFFFFF;
  color: #334155;
}

.border-slate {
  border: 1px solid #E2E8F0;
}

.text-slate-900 {
  color: #0F172A;
}

.bg-blue-subtle {
  background-color: #EFF6FF;
}

.fs-7 {
  font-size: 0.75rem;
}
