.fw-extrabold {
  font-weight: 800;
}

.btn-white {
  background-color: #FFFFFF;
  color: #34413F;
}

.border-slate {
  border: 1px solid #E5DED8;
}

.text-slate-900 {
  color: #34413F;
}

.bg-blue-subtle {
  background-color: #E7F4F1;
}

.bg-page-custom {
  background-color: #FFF9F5;
}

.btn-white:hover {
  color: #DF6848;
  border-color: #F47C5A;
  background-color: #FFE9DF;
}

.text-primary,
.text-primary-custom {
  color: #F47C5A !important;
}

.fs-7 {
  font-size: 0.75rem;
}
